{% extends "base.html" %}

{% block content %}
<section>
    <h1>找回密码</h1>
    <form class="password-recovery-form" method="POST">
        <label class="div_input" for="email">
            <input id="email" name="email" required type="email">
            <div class="underline"></div>
            <label>电子邮件</label>
        </label>
        <button class="button1" type="submit">发送重置链接</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="alert-list">
        {% for category, message in messages[-3:] %}
        <li class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</section>
{% endblock %}
