<!-- index.html 模板 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://ishaohao.cn/images/cat.png" rel="icon">
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <title>「HAO-Netdisk」文件下载</title>
    <!-- 添加样式 -->
</head>
<body>
{% extends 'layout.html' %}

{% block title %}首页 - [HAO-Netdisk]文件下载{% endblock %}

{% block content %}
<h1>文件下载</h1>
<!-- 在顶部导航栏下方添加搜索框 -->
<div class="container mt-3">
    <form action="{{ url_for('index') }}" class="form-inline mb-3" method="GET">
        <div class="input-group">
            <input class="form-control" name="search" placeholder="搜索文件..." type="text" value="{{ search_query }}">
            <button class="btn btn-outline-primary" type="submit">搜索</button>
        </div>
    </form>
</div>
<ul>
    {% for filename, file_info in files.items() %}
    <li>
        <p>文件简介: {{ file_info.description }}</p>
        <p>上传用户名: {{ file_info.username }}</p>
        <p>上传时间: {{ file_info.upload_time }}</p>
        <p>文件大小: {{ file_info.formatted_size }}</p>
        <a href="{{ url_for('download', filename=filename) }}">下载文件</a>
        {% if filename.lower().endswith(('.png', '.jpg', '.jpeg', '.gif', '.pdf', '.txt')) %}
        <a class="btn btn-outline-secondary" href="{{ url_for('preview_file', filename=filename) }}">预览</a>
        {% endif %}
        <!-- 在文件列表下方添加分享文件链接 -->
        <a class="btn btn-info" href="{{ url_for('share_file_page', filename=filename) }}">分享文件</a>
    </li>
    {% endfor %}
</ul>
<!-- 在文件列表下方添加分页导航 -->
<div class="container">
    <nav aria-label="文件分页">
        <ul class="pagination">
            {% if page > 1 %}
            <li class="page-item">
                <a aria-label="Previous" class="page-link"
                   href="{{ url_for('index', page=page-1, search=search_query) }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for page_num in range(1, total_pages + 1) %}
            <li class="page-item {% if page_num == page %}active{% endif %}">
                <a class="page-link" href="{{ url_for('index', page=page_num, search=search_query) }}">{{ page_num
                    }}</a>
            </li>
            {% endfor %}
            {% if page < total_pages %}
            <li class="page-item">
                <a aria-label="Next" class="page-link" href="{{ url_for('index', page=page+1, search=search_query) }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}

</body>
</html>
