{% extends "base.html" %}

{% block content %}
<section class="index-section text-center">
    {% if 'user_id' in session %}
    <h1 style="color:#333;">欢迎 <span style="color:#007bff;">{{ session['username'] }}</span></h1>
    {% else %}
    <h1 style="color:#333;">欢迎 <span style="color: #007bff;">游客</span></h1>
    <a class="button" href="{{ url_for('register') }}">注册</a>
    {% endif %}
    <p style="margin-top:30px;font-size:16px;"><b style="font-size:22px;">HAO-Netdisk</b>&nbsp;&nbsp;一个安全、简洁的文件管理系统
    </p>
    <p style="margin-top:20px;">访问 IP: {{ ip_address }}</p>
</section>

{% endblock %}
