<!-- 登录页面模板 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://hao.carlsky.cn/images/cat.png" rel="icon">
    <title>「HAO_Netdisk」登录页面</title>
    <!-- 添加样式 -->
</head>
<body>
{% extends 'layout.html' %}

{% block title %}首页 - My File Sharing App{% endblock %}

{% block content %}
<h1>登录页面</h1>
<form action="{{ url_for('login') }}" method="post">
    <label for="username">用户名：</label>
    <input name="username" required type="text">
    <label for="password">密码：</label>
    <input name="password" required type="password">
    <button type="submit">登录</button>
</form>
<p>没有账号？<a href="{{ url_for('register') }}">注册</a></p>
<p>忘记密码？<a href="{{ url_for('forgot_password') }}">找回密码</a></p>
{% endblock %}
</body>
</html>
