{% extends "base.html" %}

{% block content %}
<section>
    <h1>重置密码</h1>
    <form class="reset-password-form" method="POST">
        <label class="div_input" for="username">
            <input class="jinyong" id="username" name="username" type="text" value="{{ username }}">
            <div class="underline"></div>
            <label>用户名</label>
        </label>
        <label class="div_input" for="password">
            <input id="password" name="password" required type="password">
            <div class="underline"></div>
            <label>新密码</label>
        </label>
        <button class="button1" type="submit">重置密码</button>
    </form>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class="alert-list">
        {% for category, message in messages[-3:] %}
        <li class="alert alert-{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</section>
<script>
    // 获取所有class为"jinyong"的输入框
    var inputs = document.querySelectorAll('.jinyong');

    // 为这些输入框添加事件监听器
    for (var i = 0; i < inputs.length; i++) {
      inputs[i].addEventListener('mousedown', function(event) {
        // 阻止默认行为，即点击输入框时不让其获得焦点
        event.preventDefault();
      });
      inputs[i].addEventListener('keydown', function(event) {
        // 阻止键盘事件，即禁止键盘输入
        event.preventDefault();
      });
    }
</script>
{% endblock %}
